sinon is lib/sinon-1.2.0.js
amplify is lib/amplify.core.min.js

ordered set core is
jquery
lib/jquery.form.js
amplify
sinon

jquery.continuations.js requires core
jquery.continuations.forms.js requires core, jquery.continuations.js
jquery.continuations.amplify.js requires core, jquery.continuations.js